<header class="d-flex align-items-center justify-content-between py-3 border-bottom px-4">
    <a href="/" class="d-flex align-items-center col-md-auto text-dark text-decoration-none">
        <img src="\img\logo.svg" alt="mdo" height="40" class="rounded">
    </a>

    <ul class="nav col-12 col-md-auto justify-content-center mb-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="/service/all" class="nav-link px-2 link-dark">Услуги</a></li>
        <li><a href="/faqs" class="nav-link px-2 link-dark">FAQs</a></li>
    </ul>

    <div class="dropdown d-flex align-items-center col-md-auto text-dark text-decoration-none">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="\img\user.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/profile"><th:block sec:authentication="name"></th:block></a></li>
            <li><hr class="dropdown-divider"></li>
            <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/login}">Войти</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/registration}">Зарегистрироваться</a></li>
            <li sec:authorize="isAuthenticated()">
                <a class="dropdown-item">
                    <form
                        th:method="post"
                        th:action="@{/logout}">
                        <input class="btn btn-link nav-link" type="submit" value="Logout">
                    </form>
                </a>
            </li>
        </ul>
    </div>
</header>
