<!-- <nav class="navbar navbar-expand-lg justify-content-between"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/catalog">Catalog</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-item nav-link" href="/admin">Admin Panel</a>
            </li>
        </ul>
    </div>
    <div class="navbar ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link align-items-end" href="/login">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link align-items-end" href="/profile">
                    <img th:src="@{/img/icon.png}" alt="Profile" class="profile-icon" height="35px"/>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form
                        th:method="post"
                        th:action="@{/logout}">
                    <input class="btn btn-link nav-link" type="submit" value="Logout">
                </form>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md sticky-top border-bottom">
    <div class="container">
        <a href="/" class="d-flex align-items-center col-md-auto text-dark text-decoration-none">
            <img src="\img\logo.svg" alt="mdo" height="40" class="rounded">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
